[user]
	email = bwheeler@giantrabbit.com
	name = bwheeler
[core]
	editor = vim
[merge]
	renamelimit = 4000
[diff]
	tool = vimdiff
[pager]
	show = vim -R -c 'set ft=gitcommit'  -
  color = false 
[color]
  diff = false 
  status = auto
  branch = auto
  interactive = auto
  ui = true 
  pager = true 
