[user]
	email = bwheeler@giantrabbit.com
	name = bwheeler
[core]
	editor = vim
[merge]
	renamelimit = 4000
[diff]
	tool = vimdiff
[pager]
  #show = vim -R -c 'set ft=gitcommit'  -
  color = true 
[color]
  diff = true 
  status = auto
  branch = auto
  interactive = auto
  ui = true 
  pager = true 
[alias]
  showtool = "!showci () { rev=${1:-HEAD}; git difftool $rev~1 $rev; }; showci $1"
[split-diffs]
	theme-name = arctic
